.titulo-card{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.subtitulo-card{
    font-size: 125%;
    text-align: center;
    width: 100%;
}
#frase{
    font-size: 125%;
    width: 100%;
}
#autor{
    font-size: 125%;
    width: 100%;
}