<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{myApp}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
  
</div>
<ion-content class="custom-content">
  <ion-segment [(ngModel)]="campoBusqueda" (ionChange)="realizarBusqueda()" class="custom-segment">
    <ion-segment-button value="frase">
      <ion-label>Frase</ion-label>
    </ion-segment-button>
    <ion-segment-button value="autor">
      <ion-label>Autor</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar [(ngModel)]="filtro" (ionInput)="realizarBusqueda()" placeholder="Buscar" class="custom-searchbar"></ion-searchbar>

    <ion-item *ngFor="let frase of frases" class="custom-item">
      <ion-label>
        
        <strong> <ion-text id="autor">{{ frase.autor }}</ion-text><br /></strong>
              <ion-note color="medium" class="ion-text-wrap" id="frase">
                {{ frase.frase }}
              </ion-note>
            </ion-label>
    </ion-item>
 
</ion-content>
