ion-card-header{
    align-items: center;
 }
 ion-card{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 img {
     width: 100%;
     height: auto;
   }
   

.titulo-card{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.subtitulo-card{
    font-size: 125%;
    text-align: center;
    width: 100%;
}