<!-- admin.page.html -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Administrador
    </ion-title>
  </ion-toolbar>
  <ion-button routerLink="/">HOME</ion-button>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let frase of frases; let i=index">
     {{i}} {{ frase.frase }} - {{ frase.autor }}
      <ion-button (click)="abrirFormularioEdicion(i)">Actualizar</ion-button>
      <ion-button (click)="eliminarFrase(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
  <ion-item>
    <ion-label>Frase:</ion-label>
    <ion-input [(ngModel)]="nuevaFrase.frase" placeholder="Ingrese una nueva frase"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Autor:</ion-label>
    <ion-input [(ngModel)]="nuevaFrase.autor" placeholder="Ingrese el autor"></ion-input>
  </ion-item>

  <ion-button (click)="crearFrase()">Agregar</ion-button>
</ion-card>
</ion-content> -->
<!-- admin.page.html -->

<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Administrador </ion-title>
    <ion-button slot="start" routerLink="/" fill="clear"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="muestraMenuFrase" class="custom-segment">
    <ion-segment-button value="frase">
      <ion-label>Frases</ion-label>
    </ion-segment-button>
    <ion-segment-button value="imagen">
      <ion-label>Fotos</ion-label>
    </ion-segment-button>
  </ion-segment>

    <!-- MODAL -->
    <div *ngIf="muestraMenuFrase === 'imagen'">
      <ion-card>
        <ion-card-title>Crear foto</ion-card-title>
        <ion-card-content>
          <ion-select
            [(ngModel)]="tipoAutorFoto"
            placeholder="Selecciona el tipo de autor"
          >
            <ion-select-option value="anonimo">Anónimo</ion-select-option>
            <ion-select-option value="autor">Autor</ion-select-option>
          </ion-select>

          <ion-input
            label="Autor usuario"
            *ngIf="tipoAutorFoto === 'autor'"
            [(ngModel)]="autorFoto"
            placeholder="Introduce tu nombre"
          ></ion-input>

          <ion-button (click)="takePicture()" color="success" expand="full">
            <ion-icon slot="start" name="camera"></ion-icon>
            Tomar Foto
          </ion-button>

          <!-- La imagen capturada se mostrará aquí -->
          <img
            id="capturedImage"
            [src]="fotoUrl"
            (click)="mostrarFoto ? takePicture() : null"
          />
          <ion-card-subtitle class="ion-text-center" *ngIf="!mostrarFoto"
            >Haz click en la imagen para cambiarla</ion-card-subtitle
          >

          <ion-button
            *ngIf="!mostrarFoto"
            (click)="savePhotoWithoutCookie(fotoUrl);"
            routerDirection=""
            expand="full"
            color="secondary"
          >
            Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    <ion-item>
  <ion-label>Buscar por:</ion-label>
  <ion-select [(ngModel)]="campoBusquedaImagen">
    <ion-select-option value="autor">Autor</ion-select-option>
    <ion-select-option value="imagen">Imagen</ion-select-option>
    <ion-select-option value="indice">Índice</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-searchbar [(ngModel)]="searchTextImage" placeholder="Buscar"></ion-searchbar>
</ion-item>
      <ion-button (click)="modoAutomaticoFotos()" expand="block"
        ><ion-icon name="shuffle-outline"></ion-icon
      ></ion-button>
      <ion-item
        *ngFor="let imagen of listaImagenes | buscarImagen: searchTextImage; let i=index"
        class="listaImagenes"
      >
        <div class="imagen">
          <img [src]="imagen.imagen" /><h3 [style.color]="imagen.color"> {{i}}º {{imagen.autor}}</h3>
          <p *ngIf="imagen.fechaSubida">Fecha subida:{{imagen.fechaSubida}}</p>
               <p *ngIf="imagen.fechaUsada">Fecha uso: {{imagen.fechaUsada}}</p>
          
        </div>
        <div class="opcionesImagen">
          <ion-button
            *ngIf="!imagen.fav"
            (click)="toggleFav(imagen)"
            color="tertiary"
            ><ion-icon name="star-outline"></ion-icon
          ></ion-button>
          <ion-button
            *ngIf="imagen.fav"
            (click)="toggleFav(imagen);"
            color="success"
            ><ion-icon name="star"></ion-icon
          ></ion-button>
          <ion-button (click)="eliminarFoto(imagen)" color="danger"
            ><ion-icon name="trash"></ion-icon
          ></ion-button>
        </div>
      </ion-item>
    </div>

  <div *ngIf="muestraMenuFrase === 'frase'">
    <ion-card>
      <ion-card-title>Crear frase</ion-card-title>
      <ion-card-content>
        <ion-select
          [(ngModel)]="tipoAutorFrase"
          placeholder="Selecciona el tipo de autor"
        >
          <ion-select-option value="anonimo">Anónimo</ion-select-option>
          <ion-select-option value="autor">Autor</ion-select-option>
        </ion-select>
        <ion-item>
          <ion-label>Frase:</ion-label>
          <ion-input
            [(ngModel)]="nuevaFrase.frase"
            placeholder="Ingrese una nueva frase"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="tipoAutorFrase === 'autor'">
          <ion-label>Autor:</ion-label>
          <ion-input
            [(ngModel)]="nuevaFrase.autor"
            placeholder="Ingrese el autor"
          ></ion-input>
        </ion-item>
        <ion-button (click)="crearFrase()">Agregar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-segment [(ngModel)]="campoBusqueda">
      <ion-segment-button value="frases">
        <ion-label>Frases</ion-label>
      </ion-segment-button>
      <ion-segment-button value="frases_usuario">
        <ion-label>Frases Usuario</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="frases_del_dia">
        <ion-label>Frases del Día</ion-label>
      </ion-segment-button> -->
    </ion-segment>
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    <ion-card *ngIf="campoBusqueda === 'frases'">
      <ion-card-title>Frases</ion-card-title>
      <ion-button (click)="modoAutomatico()" expand="block"
        ><ion-icon name="shuffle-outline"></ion-icon
      ></ion-button>
      <ion-list>
        <!-- Utilizar *ngFor con la función filtrarFrases() -->
        <!-- Dentro del bucle ngFor en tu vista -->
        <ion-item *ngFor="let frase of filtrarFrases(frases); let i=index" >
          <div class="item">
            <div class="frases">
               <h3 >{{i}} - {{ frase.autor }}</h3><p [style.color]="frase.color">{{ frase.frase }} </p>
               <p *ngIf="frase.fechaSubida">Fecha subida:{{frase.fechaSubida}}</p>
               <p *ngIf="frase.fechaUsada">Fecha uso: {{frase.fechaUsada}}</p>
            </div>
            <div class="frases_opcion">
              <ion-button (click)="abrirFormularioEdicion(i)" color="tertiary"
                >Actualizar</ion-button
              >
              <ion-button (click)="eliminarFrase(i)" color="danger"
                >Eliminar</ion-button
              >
              <ion-button (click)="moverAFrasesUsuario(i)" color="primary"
                >Mover a Frases Usuario</ion-button
              >
              <ion-button color="success" (click)="toggleFavFrase(i);fraseUsada(i)">
                <ion-icon
                  [name]="frase.fav ? 'star' : 'star-outline'"
                ></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="campoBusqueda === 'frases_usuario'">
      <ion-card-title>Frases Usuario</ion-card-title>
      <ion-list>
        <!-- Utilizar *ngFor con la función filtrarFrases() -->
        <ion-item
          *ngFor="let frase of filtrarFrases(frasesUsuario); let i=index"
        >
          <div class="item">
            <div class="frases_usuario">
              <h3  >{{i}} - {{ frase.autor }}</h3><p [style.color]="frase.color">{{ frase.frase }}</p>
              <p *ngIf="frase.fechaSubida">Fecha subida:{{frase.fechaSubida}}</p>
              <p *ngIf="frase.fechaUsada">Fecha uso: {{frase.fechaUsada}}</p>
            </div>
            <div class="frases_usuario_opcion">
              <ion-button
                (click)="abrirFormularioEdicion(i, campoBusqueda === 'frases_usuario')"
                color="tertiary"
                >Actualizar</ion-button
              >
              <ion-button (click)="eliminarFraseUsuario(i)" color="danger"
                >Eliminar</ion-button
              >
              <ion-button (click)="moverAFrases(i)">Mover a Frases</ion-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>

    <!-- <ion-card *ngIf="campoBusqueda === 'frases_del_dia'">
      <ion-card-title>Frases del Día</ion-card-title>
      <ion-list>
        <ion-item
          *ngFor="let frase of frasesDelDia; let i=index"
        >
          <div class="item">
            <div class="frases_del_dia">
              {{i}} {{ frase.frase }} - {{ frase.autor }} -
              {{frase.fechaSubida}}
            </div>
            <div class="frases_del_dia_opcion">
              <div class="boton">
                <ion-button (click)="moverAFrasesUsuarioDesdeDelDia(i)"
                  >Mover a Frases Usuario</ion-button
                >
                <ion-button (click)="moverAFrasesDesdeDelDia(i)"
                  >Mover a Frases</ion-button
                >
                <ion-button (click)="eliminarFraseDelDia(i)" color="danger"
                  >Eliminar</ion-button
                >
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card> -->
  </div>
</ion-content>
