<!-- login.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login de usuario</ion-title>
    <ion-button slot="start" routerLink="/" fill="clear"
    ><ion-icon name="arrow-back-outline"></ion-icon
  ></ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <ion-item class="mb-3">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="mb-3">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button  type="submit">Enviar</ion-button>
  </form>

  <ion-button  color="success" (click)="onClick()">Login With Google</ion-button>
</ion-content>
